# Flask
FLASK_ENV=development
PORT=5000

# OAuth2/OIDC - À OBTENIR D'OMAR
OAUTH_ISSUER=http://localhost:3000
OAUTH_JWKS_URI=http://localhost:3000/.well-known/jwks.json
OAUTH_AUDIENCE=api://resource-server